.vscode/
.idea/

/.env
.env
help.js
/backend/.env
/frontend/.env
/frontend/amplify
# /frontend/src/aws-exports.js

/backend/venv

/frontend/node_modules
/frontend/build
/frontend/dist
/backend/**/__pycache__/

/.dockerignore

/.env
/help
docker-compose-multiapp.yml
Multiapp Money+Quiz