./quiz-app/frontend/node_modules/
./quiz-app/frontend/.env
./quiz-app/frontend/.gitignore
./quiz-app/frontend/README.md
./quiz-app/frontend/.env.template
./quiz-app/frontend/Dockerfile
../quiz-app/frontend/.dockerignore
node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
npm-debug.log*
.env
yarn
./money-tracker/frontend/src/amplifyconfiguration.json
./money-tracker/frontend/amplify/
./money-tracker/frontend/node_modules/
./money-tracker/frontend/.env
./frontend/.env.client
./frontend/.gitignore
./money-tracker/frontend/README.md
./frontend/.env.template
./money-tracker/frontend/Dockerfile
./money-tracker/frontend/.dockerignore
node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
npm-debug.log*
.env
yarn
src/amplifyconfiguration.json
amplify/